body{
    position: relative;
    z-index: 0;
    font-family: 'Open Sans','Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
}
.navbar{
    margin-bottom: 0px;
    border-radius: 0px;
    background: #333;
}
.navbar .nav > li > a{
    color: #5fdedd;
    background-color: #333;
}
.navbar .nav > li > a:hover {
    color: #5fdedd;
    background-color: #282828;
}
.navbar .nav >li >a:active{
    color: #5fdedd;
    background-color: #282828;
}
.navbar .nav >li >a:visited{
    color: #5fdedd;
}
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover{
    color: #5fdedd;
    background-color:#282828
}
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:disabled{
    color: #5fdedd;
}
.navbar .nav > li .dropdown-menu:active {
    color: #5fdedd;
    background-color: #282828;
}
.navbar .nav > li .dropdown-menu {
    margin: 0;
}
.navbar .nav > li:hover .dropdown-menu {
    display: block;
}
.navbar-nav>.active>a:hover{
    color:#555;
    background-color:#282828}
.navbar-right{
    margin-right: 5px;
    font-size: medium;
}
.nav .navbar-nav .navbar-right >li >a:hover {
    color: #46a6c0;
    background-color: #282828;
}
.navbar-default .navbar-brand {
    color: #9facaf;
    background-color: #333;
}
.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover{
    color: #5fdedd;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.sidebar{
    /*float: right;*/
    position: fixed;
    right: 20px;
    display: block;
    width: 300px;
    height: 100%;
    background-attachment: fixed;
    background: rgba(255,255,255,0.9);
    z-index: 1;
}
.sidebar-row{
    border-bottom: 1px solid lightgray;
    line-height: 30px;
}
.container-back{
    position: relative;
    margin-top: 52px;
    min-height: 1000px;
    height: 100%;
    width: auto;
    z-index: 0;
}
.back{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    background: url(images/back.png);
    background-attachment: fixed;
    background-repeat: repeat-y;
    opacity: 0.35;
    z-index: 0;
}
.container{
    /*padding-top: 52px;*/
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    width: auto;
    z-index: 1;
}
.col-lg-9#content{
    height: 100%;
    min-height: 1000px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    padding: 15px;
    padding-bottom: 50px;
    background: rgba(255,255,255,0.9);
    /*z-index: 1;*/
}
.post{
    margin: 10px;
    padding: 10px;
    padding-bottom: 100px;
}
.post-header, .post-body{
    padding-left: 2em;
    padding-right: 2em;
}
.post-header{
    display: block;
    color: #333;
    margin: 0;
    line-height: 20px;
    border-bottom: solid 1px #cfd2d8;
}
.post-title{
    display: block;
    font-size: xx-large;
    color: #52a8bc;
    font-weight: 500;
}
.post-title > a{
    font-size: xx-large;
    color: #52a8bc;
    font-weight: 500;
}
.post-title > a:hover{
    color: #fb6857;
    text-decoration: none;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.post-header-buttom{
    display: block;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 30px;
}
.post-timestamp:before{
    font-family: FontAwesome;
    content: "\f017";
    font-size: small;
}
.post-tag:before{
    font-family: FontAwesome;
    content: "\f02b";
    font-size: small;
    padding-right: 5px;
}
.post-lan:before{
    font-family: FontAwesome;
    content: "\f121";
    font-size: small;
    padding-right: 5px;
}
.post-timestamp, .post-tag, .post-lan{
    display: inline-block;
    padding: 20px;
    padding-bottom: 0px;
    font-size: medium;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #b2b5ba;
}
.tag-btn{
    font-size: medium;
    /*background-color: rgba(110,199,220,0.3);*/
}
.tag-btn >a{
    text-decoration: none;
    color: #52a8bc;
}
.btn-link:hover{
    text-decoration: none;
}
.tag-btn >a:hover{
    color: #fb6857;
    text-decoration: none;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.post-timestamp{
    padding-left: 0px;
}
.post-header-buttom-divider{
    display: inline-block;
    font-size: medium;
    color: #b2b5ba;
}

.post-body{
    padding-top: 30px;
    padding-left: 2em;
    padding-right: 2em;
    /*font-family: 'Helvetica Neue',Hiragino Sans GB,Microsoft Yahei,WenQuanYi Micro Hei,Helvetica,Arial,sans-serif;*/
    font-size: 17px;
    font-weight: 400;
    color: #505050;
}
.panel-footer{
    position: absolute;
    bottom: 0px;
    padding: 0px;
    padding-top: 3px;
    width: 100%;
    background: #333;
    text-align: center;
    font-size: small;
    color: #5fdedd;
    z-index: 1;
    height: 25px;
    line-height: 20px;
}

.index-row{
    padding: 20px;
    height: 350px;
    border-bottom: 1px solid lightgray;

}
.post-info{
    padding-top: 10px;
    padding-left: 2em;
    color: #505050;
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}
.info-back{
    background: rgba(226, 232, 239, 0.3);
}
.post-info-body{
    /*padding-left: 10px;*/
}
.btn{
    border-radius: 0px;
}
.post-content{
    max-height: 500px;
    border: 1px solid #111;
    padding: 0.8em 1em;
    font: 14px/22px Consolas, Monaco, 'Andale Mono', monospace;
    border-radius: 3px;
    background-color: #21221d;
    background-image: -webkit-linear-gradient(#21221d 50%, #272822 50%);
    background-image: -moz-linear-gradient(#21221d 50%, #272822 50%);
    background-image: -ms-linear-gradient(#21221d 50%, #272822 50%);
    background-image: -o-linear-gradient(#21221d 50%, #272822 50%);
    background-image: linear-gradient(#21221d 50%, #272822 50%);
    background-size: 44px 44px;
    background-origin: content-box;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
pre{
    padding: 0px;
}