<!-- extend base layout -->
{% extends 'base.html' %}

{% block content %}

<div class="archives">
    <div class="archives-header">
        <h1>Archives</h1>
        <div class="archives-order-by">
            <button class="btn archives-order-time" id="order-by-time">按时间</button>
            <div class="post-header-buttom-divider">|</div>
            <button class="btn archives-order-tag" id="order-by-tag">按类别</button>
        </div>
    </div>
    <div class="archives-content">
        {% for post in posts %}
        {% if(post.id%2 == 1) %}
        <section class="archives-row-odd">
            <div class="archives-title"><a href={{url_for('post', post_id = post.id)}}>{{post.title}}</a> </div>
            <div class="archives-timestamp">{{post.timestamp[:10]}}</div>
        </section>
        {% else %}
        <section class="archives-row-even">
            <div class="archives-title"><a href={{url_for('post', post_id = post.id)}}>{{post.title}}</a> </div>
            <div class="archives-timestamp">{{post.timestamp[:10]}}</div>
        </section>
        {% endif %}
        {% endfor %}
    </div>

</div>


{% endblock %}