<!DOCTYPE html>
<html lang="en">
<head>
    <!-- use bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!--<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="{{url_for('static', filename ='bootstrap/css/bootstrap.min.css')}}" type="text/css">

    <link rel="stylesheet" href="{{url_for('static', filename ='font-awesome/css/font-awesome.min.css')}}" type="text/css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/obsidian.min.css">

    <!--<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
    <script type=text/javascript src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- highlight.js-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- jQuery-->
    <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>

    <!-- 让markdown支持latex数学公式 -->
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=default"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}" type="text/css"/>
    <!-- 测试js-->
    <script type="text/javascript" src="{{url_for('static', filename ='test.js') }}"></script>

    {% if title %}
    <title>{{title}} - Penguin's blog</title>
    {% else %}
    <title>Penguin's blog</title>
    {% endif %}
</head>
<body>
<!-- 导航栏 -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{url_for('index')}}">Penguin's blog</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <!-- 下拉菜单，通过类别查看文章 -->
            <!--<li class="dropdown-toggle" data-toggle="dropdown"><a href="{{url_for('archives')}}">Archives<b class="caret"></b> </a>-->
                <!--<ul class="dropdown-menu">-->
                    <!--{% for class in classification %}-->
                    <!--<li><a href="{{url_for('archives',class = class)}}">{{class[0]}}</a></li>-->
                    <!--{% endfor %}-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#">分离的链接</a></li>-->
                <!--</ul>-->
            <!-- archives 不使用下拉菜单-->
            <li class="dropdown-toggle" data-toggle="dropdown"><a href="{{url_for('archives')}}">Archives</a>
            </li>
            <!-- 相册 -->
            <li><a href="#">Illustrations</a> </li>
            <li><a href="#">About</a> </li>
        </ul>
    </div>
    <!-- social -->
    <!-- 用font-awesome显示小图标 -->
    <div class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/penguin-penpen" target="_blank"><i class="fa fa-github"></i> </a></li>
        <li><a href=mailto:jinglei_yang@outlook.com><i class="fa fa-envelope"></i></i> </a></li>
        <li><a href="http://www.linkedin.com/in/%E4%BA%AC%E8%95%BE-%E6%9D%A8-a88702103?trk=hp-identity-name"><i class="fa fa-linkedin"></i></i></a></li>
    </div>
</nav>
<!-- 侧边栏 -->
<div class="sidebar">
    <div class="container">
        <ul class="nav">
            <li class="sidebar-row"><a href="#">item</a> </li>
            <li class="sidebar-row"><a href="#">item</a> </li>
        </ul>
        <div class="comment-box">comment</div>
    </div>
</div>
<!-- 内容 -->
<div class="container-back">
    <div class="back"></div>
    <div class="container">
        <div class="col-lg-9" role="main" id="content">
            {% block content %}

            {% endblock %}
            <div class="auto-load"></div>
        </div>
    </div>
</div>
<!-- 浮动按钮 -->
<button class="btn" id="back-to-top">
    <i class="fa fa-arrow-up"></i>
</button>
<!-- 显示错误信息 -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<footer class="panel-footer">Copyright © 2016 Penguin's Blog · Powered by Bootstrap></footer>
</body>
</html>
