{% extends "base.html" %}
{% block content %}
{% if g.user.is_authenticated %}
{% endif %}

{% for post in posts %}
<div class="index-row">
    <div class="post-header">
        <div class="post-title"><a href={{url_for('post',post_id = post.id)}}>{{post.title}}</a></div>
        <div class="post-header-buttom">
            <div class="post-timestamp"> {{post.timestamp}}</div>
            <div class="post-header-buttom-divider">|</div>
            <div class="post-lan">{{post.lan_used}}</div>
            <div class="post-header-buttom-divider">|</div>
            <div class="post-tag">
                 {% for tag in tags[post.id] %}
                <button class="btn-link tag-btn"><a href="#"> {{tag}}</a></button>
                 {% endfor %}
            </div>
        </div>

    </div>
    <div class="post-info">
        <div class="info-back">
            <div class="post-info-body">{{post.info|safe}}</div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}