{% extends "base.html" %}
{% block content %}
<div>
    <div class="post">
        <div class="post-header">
            <div class="post-title">{{post.title}}</div>
            <div class="post-header-buttom">
                <div class="post-timestamp"> {{post.timestamp}}</div>
                <div class="post-header-buttom-divider">|</div>
                <div class="post-lan">{{post.lan_used}}</div>
                <div class="post-header-buttom-divider">|</div>
                <div class="post-tag">
                    {% for tag in tags %}
                    <button class="btn-link tag-btn"><a href="#"> {{tag}}</a></button>
                    {% endfor %}
                </div>
                <!--<div class="post-header-buttom-divider">|</div>-->
            </div>
            <div class="post-series">{{post.series}}</div>
        </div>
        <div class="post-body font-kai">
            {{post.body | safe}}
        </div>
    </div>
    <div class="comment-display">
        {% for com in comments %}
        {{com.content}}
        {% endfor %}
    </div>
    <div class="post-comment">
        <script language="JavaScript">
            <!-- 检测浏览器类型是否为IE-->
            if("\v"=="v") {
                element.onpropertychange = checkEmail;
            }else{
                element.addEventListener("input",checkEmail,false);
            }
//            邮箱动态检查
            function checkEmail() {
                var email = document.getElementById("comment-email").value;
                if (email != "") {
                    var reg = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
                    isok = reg.test(email);
                    if (!isok) {
//                        alert("邮箱格式不正确，请重新输入！");
//                        document.getElementById("comment-email").focus();
                        document.getElementById('email-error').style.color = 'red';
                        document.getElementById('email-error').innerHTML= '格式不正确';
                        return false;
                    }else{
                        document.getElementById('email-error').style.color = '#24C920';
                        document.getElementById('email-error').innerHTML= '仅博主可见，您可在邮件中查看回复';
                        return true;
                    }
                }else{
                        document.getElementById('email-error').style.color = '#24C920';
                        document.getElementById('email-error').innerHTML= '仅博主可见，您可在邮件中查看回复';
                    return false
                    }
            }
//            提交检查
            function checkSubmit(event){
                var nickname = document.getElementById('comment-nickname').value;
                var email = document.getElementById('comment-email').value;
                var content = document.getElementById('comment-content').value;
                if((nickname == '')||(content == '')||(!checkEmail())){
                    alert('请根据提示正确填写信息！');
//                    event.preventDefault();
                    return false
                }else{
                    return true
                }
            }

        </script>
        <form class="comment" role="form" action="" method="post" onsubmit="return checkSubmit()">
            {{form.hidden_tag()}}
            <div class="comment-nickname">
                <!--<input type="text" class="form-control" id="comment-nickname" placeholder="昵称*">-->
                {{form.nickname(class='form-control', id = 'comment-nickname', placeholder = '昵称*')}}
            </div>
            <div class="comment-email">
                <!--<input type="text" class="form-control" id="comment-email" placeholder="邮箱（仅博主可见）">-->
                {{form.email(class = 'form-control', id = 'comment-email', placeholder = '邮箱*',oninput = 'return checkEmail()')}}

            </div><div id="email-error"></div>
            <!--<textarea class="form-control" rows="5" placeholder="写评论..."></textarea>-->
            {{form.comment(class = 'form-control', placeholder = '写评论...', rows = 5, id = 'comment-content')}}
            <input type="submit" class="btn" id="submit-comment" value="提交评论""></input>
        </form>
    </div>

</div>
{% endblock %}
