{% extends "base.html" %}
{% block content %}
<div>
    <div class="post">
        <div class="post-header">
            <div class="post-title">{{post.title}}</div>
            <div class="post-header-buttom">
                <div class="post-timestamp"> {{post.timestamp}}</div>
                <div class="post-header-buttom-divider">|</div>
                <div class="post-tag">{{tag}}</div>
                <div class="post-header-buttom-divider">|</div>
                <div class="post-lan">{{post.lan_used}}</div>
            </div>
        </div>
        <div class="post-body font-kai">
            {{post.body | safe}}
        </div>
    </div>

</div>
{% endblock %}
